<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.png" type="image/png">
    <title>Home</title>

    <!--Begin  Page Level  CSS -->
    {#    <link href="assets/plugins/morris-chart/morris.css" rel="stylesheet">#}
    {#    <link href="assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"/>#}
    {#     <!--End  Page Level  CSS -->#}
    {#    <link href="assets/css/bootstrap.min.css" rel="stylesheet">#}
    {#    <link href="assets/css/style.css" rel="stylesheet">#}
    {#    <link href="assets/css/responsive.css" rel="stylesheet">#}
    {{ 't_css/bootstrap.min.css' | make_static_html | safe }}
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    {{ 't_css/main.css' | make_static_html | safe }}
    {{ 'css/icons.css' | make_static_html | safe }}
    {{ 'css/style.css' | make_static_html | safe }}
    {% block css_content %} {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body class="sticky-header">

<!--Start left side Menu-->
<div class="left-side sticky-left-side">

    <!--logo-->
    <div class="logo">
        <a href="index.html"><img src="/static01/images/logo.png" alt=""></a>
    </div>

    <div class="logo-icon text-center">
        <a href="index.html"><img src="/static01/images/logo-icon.png" alt=""></a>
    </div>
    <!--logo-->
    <div class="left-side-inner">
        <!--Sidebar nav-->
        <ul class="nav nav-pills nav-stacked custom-nav">

            {% for m_item in portal_menu_list %}
                {% if "sub_menu" in m_item %}
                    <li class="menu-list {% if menu_active == m_item["menu_id"] %}nav-active{% endif %}"><a
                            href="{{ m_item['url'] }}"><i class="icon-font {{ m_item['icon_class'] }}"></i>
                        <span>{{ m_item["title"] }}</span></a>
                        <ul class="sub-menu-list">
                            {% for sm_item in m_item["sub_menu"] %}
                                <li><a href="{{ sm_item["url"] }}">{{ sm_item["title"] }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li class="{% if menu_active == m_item["menu_id"] %}nav-active{% endif %}"><a
                            href="{{ m_item['url'] }}"><i class="icon-font {{ m_item['icon_class'] }}"></i>
                        <span>{{ m_item["title"] }}</span></a>
                    </li>
                {% endif %}

            {% endfor %}


        </ul>
        <!--End sidebar nav-->

    </div>
</div>
<!--End left side menu-->

<!-- main content start-->
<div class="main-content">

    <!-- header section start-->
    <div class="header-section">

        <a class="toggle-btn"><i class="fa fa-bars"></i></a>

        <form class="searchform">
            <input type="text" class="form-control" name="keyword" placeholder="Search here..."/>
        </form>

        <!--notification menu start -->
        <div class="menu-right">
            <ul class="notification-menu">
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                        <i class="fa fa-tasks"></i>
                        <span class="badge">8</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-head pull-right">
                        <h5 class="title">You have 8 pending task</h5>
                        <ul class="dropdown-list">
                            <li class="notification-scroll-list notification-list ">
                                <!-- list item-->
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left p-r-10">
                                            <em class="fa  fa-shopping-cart noti-primary"></em>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading">A new order has been placed.</h5>

                                            <p class="m-0">
                                                <small>29 min ago</small>
                                            </p>
                                        </div>
                                    </div>
                                </a>

                                <!-- list item-->
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left p-r-10">
                                            <em class="fa fa-check noti-success"></em>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading">Databse backup is complete</h5>

                                            <p class="m-0">
                                                <small>12 min ago</small>
                                            </p>
                                        </div>
                                    </div>
                                </a>

                                <!-- list item-->
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left p-r-10">
                                            <em class="fa fa-user-plus noti-info"></em>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading">New user registered</h5>

                                            <p class="m-0">
                                                <small>17 min ago</small>
                                            </p>
                                        </div>
                                    </div>
                                </a>

                                <!-- list item-->
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left p-r-10">
                                            <em class="fa fa-diamond noti-danger"></em>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading">Database error.</h5>

                                            <p class="m-0">
                                                <small>11 min ago</small>
                                            </p>
                                        </div>
                                    </div>
                                </a>

                                <!-- list item-->
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left p-r-10">
                                            <em class="fa fa-cog noti-warning"></em>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading">New settings</h5>

                                            <p class="m-0">
                                                <small>18 min ago</small>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="last"><a href="#">View all notifications</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge">4</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-head pull-right">
                        <h5 class="title">Notifications</h5>
                        <ul class="dropdown-list normal-list">
                            <li class="message-list message-scroll-list">


                            </li>
                            <li class="last"><a href="#">All Messages</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <img src="/static01/images/users/avatar-6.jpg" alt=""/>
                        John Doe
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                        <li><a href="#"> <i class="fa fa-wrench"></i> Settings </a></li>
                        <li><a href="#"> <i class="fa fa-user"></i> Profile </a></li>
                        <li><a href="#"> <i class="fa fa-info"></i> Help </a></li>
                        <li><a href="#"> <i class="fa fa-lock"></i> Logout </a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!--notification menu end -->

    </div>
    <!-- header section end-->
    <div class="wrapper">
        <!--Start Page Title-->
        <div class="page-title-box">
            {% if page_title %}
                <h4 class="page-title">{{ page_title }} </h4>
            {% else %}
                <h4 class="page-title">Dashboard1 </h4>
            {% endif %}
            {#                <ol class="breadcrumb">#}
            {#                    <li>#}
            {#                        <a href="#">Dashboard</a>#}
            {#                    </li>#}
            {##}
            {#                    <li class="active">#}
            {#                        Dashboard 1#}
            {#                    </li>#}
            {#                </ol>#}
            <div class="clearfix"></div>
        </div>
        <!--End Page Title-->
        {% block center_content %}
        {% endblock %}
    </div>

    <!--Start  Footer -->
    <footer class="footer-main">Copyright &copy; 2018.MSG All rights reserved.</footer>
    <!--End footer -->

</div>
<!--End main content -->
{{ 'js/jquery.min.js' | make_static_html | safe }}
{{ 't_js/vue.js' | make_static_html2 | safe }}
{{ 't_js/handler_data.js' | make_static_html2 | safe }}
{{ 't_js/copy.js' | make_static_html2 | safe }}
{{ 't_js/my_requests.js' | make_static_html2 | safe }}
{{ 't_js/datetime_tools.js' | make_static_html2 | safe }}
{{ 't_js/url_tool.js' | make_static_html2 | safe }}
{{ 'js/bootstrap.min.js' | make_static_html | safe }}
{{ 'plugins/moment/moment.js' | make_static_html | safe }}
{{ 'js/jquery.slimscroll.js' | make_static_html | safe }}
{{ 'js/jquery.nicescroll.js' | make_static_html | safe }}
{{ 'js/functions.js' | make_static_html | safe }}
{{ 'plugins/sweetalert/sweet-alert.js' | make_static_html | safe }}
{% block js_content %} {% endblock %}
<!--Begin core plugin -->
{#    <script src="assets/js/jquery.min.js"></script>#}
{#    <script src="assets/js/bootstrap.min.js"></script>#}
{#    <script src="assets/plugins/moment/moment.js"></script>#}
{#    <script  src="assets/js/jquery.slimscroll.js "></script>#}
{#    <script src="assets/js/jquery.nicescroll.js"></script>#}
{#    <script src="assets/js/functions.js"></script>#}
{#    <!-- End core plugin -->#}
{#    #}
{#    <!--Begin Page Level Plugin-->#}
{#	<script src="assets/plugins/morris-chart/morris.js"></script>#}
{#    <script src="assets/plugins/morris-chart/raphael-min.js"></script>#}
{#    <script src="assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>#}
{#    <script src="assets/pages/dashboard.js"></script>#}
<!--End Page Level Plugin-->


</body>

</html>
