{% extends "base_menu.html" %}

{% block title %}医生详细信息{% endblock %}

{% block css_content %}
    {{ 't_css/tabControls.css' | make_static_html | safe }}
{% endblock %}

{% block js_content %}
    {{ 't_js/doctor/detail.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
    <div id="div_content">
        <ul id="ul_menu" class="nav nav-tabs comTab">
            <li class=""><a href="{{ page_list }}" data-toggle="tab">所有医生</a></li>
            <li class=""><a href="{{ page_doctor }}" data-toggle="tab">添加医生</a></li>
            <li class="active"><a href="javascript:void(0)" data-toggle="tab">详细信息</a></li>
        </ul>
        <div id="myTabContent" class="tab-content" style="padding-top: 20px;">
            <fieldset>
                <legend>基本信息</legend>
                <div class="form-group apiContentLine">
                    <ul>
                        <li>
                            <label for="effective_days">医生姓名：</label>
                            <input class="box-side width300" id="doctor_name" type="text" placeholder="" disabled/>
                        </li>
                        <li>
                            <label for="effective_days">手机号码：</label>
                            <input class="box-side width300" id="tel" type="tel" msg="请输入手机号码"/>
                        </li>
                        <li>
                            <label for="effective_days">个人简介：</label>
                            <input class="box-side width300" id="doctor_profile" type="text" msg="请输入个人简介"/>
                            <img id="doctor_photo" src=""/>
                        </li>
                        <li>
                            <label for="effective_days">工作经历：</label>
                            <input class="box-side width500" id="work_experience" type="text" msg="请输入工作经历"/>
                        </li>
                        <li>
                            <label for="effective_days">学术经历：</label>
                            <input class="box-side width500" id="study_experience" type="text" msg="请输入学术经历"/>
                        </li>
                        <li>
                            <label for="effective_days">获得荣誉：</label>
                            <input class="box-side width500" id="honor" type="text" msg="请输入获得荣誉"/>
                        </li>
                        <li>
                            <label for="effective_days">收费情况：</label>
                            <input class="box-side width100" id="unit_price" type="text" msg="请输入收费情况"/>
                        </li>
                    </ul>

                </div>
            </fieldset>
            <button class="btn btn-success btn-down api-newBtn" id="btn_new" >新建</button>
        </div>
        <input id="detail_url" value="{{ detail_url }}" class="display_none">
    </div>
{% endblock %}