{% extends "base_a.html" %}

{% block title %}测试管理{% endblock %}

{% block js_content %}
    {{ 't_js/exam/add.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
    <div id="div_content">
        <div id="myTabContent" class="tab-content" style="padding-top: 20px;">
                <div class="form-group apiContentLine">
                    <ul>
                        <li>
                            <label for="effective_days">测试名称：</label>
                            <input class="box-side width500" v-model="exam_name" type="text"/>
                        </li>
                        <li>
                            <label for="effective_days">测试介绍：</label>
                            <textarea class="box-side width500" v-model="exam_desc" type="text">
                            </textarea>
                        </li>
                    </ul>
                </div>
            <button class="btn btn-success btn-down api-newBtn" @click="add">新建</button>
        </div>
        <input id="add_url" value="{{ add_url }}" class="display_none">
    </div>
{% endblock %}