{% extends "base_a.html" %}

{% block title %}测试管理{% endblock %}
{##}
{% block css_content %}
{#    <link href="assets/plugins/jquery-toast/jquery.toast.min.css" rel="stylesheet" type="text/css">#}
    {{ 'plugins/jquery-toast/jquery.toast.min.css' | make_static_html | safe }}
{% endblock %}

{% block js_content %}
    {{ 'plugins/jquery-toast/jquery.toast.min.js' | make_static_html | safe }}
    {{ 't_js/exam/question.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
    <div id="div_content">
        <div id="myTabContent" class="tab-content" style="padding-top: 20px;">
            <fieldset>
                <div class="form-group apiContentLine">
                    <ul>
                        <li>
                            <label>测试名称：</label>
                            <select class="box-side width150" type="text" @change="select_exam" v-model="current_exam_index">
                                <option v-for="(item,index) in all_exams" :value="index">{{item["exam_name"]}}</option>
                            </select>
                        </li>
                        <li>
                            <label>当前题号：</label>
                            <input class="box-side width100" type="text" v-model.number="current_question_no" @change="change_question"/>
                            <label>已录入</label>
                            <input class="width100" readonly disabled about="" :value="current_exam.question_num">
                            <label>题</label>
                        </li>
                        <li>
                            <label>题目类型：</label>
                            <select class="box-side width150" type="text"  v-model="select_mode">
                                <option v-for="(item,index) in select_modes" :value="index" v-if="item.enable">{{item.name}}</option>
                            </select>
                        </li>
                        <li>
                            <label class="api-describe" for="">题目描述：</label>
                            <textarea class="box-side" rows="3" required="" v-model.trim="question_desc"></textarea>
                        </li>
                        <li>
                            <label class="api-describe" for="">题目图片：</label>
                            <input @change="upload_pic" ref="filElem" type="file" placeholder="上传图片" accept="image/*"/>
                            <img :src="question_desc_url" width="500px"/>
                            <a v-if="question_desc_url.length>0" @click="remove_pic" class="status_move">删除描述图片</a>
                        </li>
                        <li>
                            <label>所属科目：</label>
                            <select class="box-side width150" type="text" v-model="question_subject">
                                <option v-for="(item,index) in subjects" :value="index">{{item.name}}</option>
                            </select>
                        </li>
                        <li>
                            <label>题目来源：</label>
                            <input class="box-side width300" type="text" v-model="question_source"/>
                        </li>
                        <li>
                            <label>题目状态：</label>
                            <select class="box-side width150" type="text" v-model="question_state">
                                <option v-for="(item,index) in q_states" :value="index">{{item.name}}</option>
                            </select>
                        </li>
                        <li name="li_option">
                            <label>A、</label>
                            <input class="box-side width500" type="text" v-model.trim="option_a"/>
                            <label>答案</label>
                            <input class="box-side" type="radio" name="answer" v-model="selected_option" :value="0" />
                        </li>
                        <li name="li_option">
                            <label>B、</label>
                            <input class="box-side width500" type="text" v-model.trim="option_b"/>
                            <label>答案</label>
                            <input class="box-side" type="radio" name="answer" v-model="selected_option" :value="1" />
                        </li>
                        <li name="li_option">
                            <label>C、 </label>
                            <input class="box-side width500" type="text" v-model.trim="option_c"/>
                            <label>答案</label>
                            <input class="box-side" type="radio" name="answer" v-model="selected_option" :value="2" />
                        </li>
                        <li name="li_option">
                            <label> D、</label>
                            <input class="box-side width500" type="text" v-model.trim="option_d"/>
                            <label>答案</label>
                            <input class="box-side" type="radio" name="answer" v-model="selected_option" :value="3" />
                        </li>
                        <li>
                            <label class="api-describe" for="">答案解析：</label>
                            <textarea class="box-side" rows="3" required="" v-model="answer"></textarea>
                        </li>
                    </ul>
                </div>
            </fieldset>
            <a class="status_move" v-if="current_question_no>1" @click="action_pre">上一题</a>
            <button class="btn btn-success btn-down" v-if="action == 'new'" @click="new_question">新建</button>
            <button class="btn btn-success btn-down" v-else @click="update_question">更新</button>
            <a class="status_move" v-if="current_question_no<=current_exam.question_num" @click="action_next">下一题</a>
        </div>
    </div>
{% endblock %}