{% extends "base_a.html" %}

{% block title %}测试管理{% endblock %}

{% block css_content %}
    {{ 'plugins/bootstrap-editable/css/bootstrap-editable.css' | make_static_html | safe }}
{% endblock %}

{% block js_content %}
    {{ 'plugins/bootstrap-editable/js/bootstrap-editable.min.js' | make_static_html | safe }}
    {{ 't_js/exam/overview.js' | make_static_html | safe }}
{#    {{ 'pages/bootstrap-editable-custom.js' | make_static_html | safe }}#}
{% endblock %}

{% block center_content %}
        <!--Start row-->
        <div class="row" id="div_overview">
            <div class="col-md-12">
                <div class="white-box">
                    <h2 class="header-title">Popup editor </h2>
                    <table id="user" class="table table-bordered table-striped">
                        <tbody>
                        <tr>
                                <th scope="col" width="47%">名称</th>
                                <th scope="col" width=15%">创建时间</th>
{#                                <th scope="col" width=10%">状态</th>#}
{#                                <th scope="col" width=20%">操作</th>#}
                            </tr>
                        <tr v-for="(item, index) in all_exams">
{#                                <td>{{cn_exam_type[item["exam_type"]]}}</td>#}
                                <td><a href="#" name="exam_name" data-type="text" :data-pk="item.exam_no"  class="editable editable-click" title="">{{item.exam_name}}</a></td>
                                <td>{{item.add_time}}</td>
                        </tr>
                        <tr>
                            <td width="35%">Simple text field</td>
                            <td width="65%"><a href="#" name="exam_name" data-type="text" data-pk="1"  class="editable editable-click" title="">superuser</a></td>
                        </tr>
                        <tr>
                            <td>Empty text field, required</td>
                            <td><a href="#" id="firstname" data-type="text" data-pk="1" data-placement="right"
                                   data-placeholder="Required" data-title="Enter your firstname"
                                   class="editable editable-click editable-empty">Empty</a></td>
                        </tr>
                        <tr>
                            <td>Select, local array, custom display</td>
                            <td><a href="#" id="sex" data-type="select" data-pk="1" data-value=""
                                   data-title="Select sex" class="editable editable-click" style="color: gray;">not
                                selected</a></td>
                        </tr>
                        <tr>
                            <td>Select, remote array, no buttons</td>
                            <td><a href="#" id="group" data-type="select" data-pk="1" data-value="5"
                                   data-source="/groups" data-title="Select group" class="editable editable-click"
                                   data-original-title="" title="" style="">Customer</a></td>
                        </tr>
                        <tr>
                            <td>Select, error while loading</td>
                            <td><a href="#" id="status" data-type="select" data-pk="1" data-value="0"
                                   data-source="/status" data-title="Select status" class="editable editable-click">Active</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Combodate (date)</td>
                            <td><a href="#" id="dob" data-type="combodate" data-value="1984-05-15"
                                   data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY"
                                   data-pk="1" data-title="Select Date of birth" class="editable editable-click">15/05/1984</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Combodate (datetime)</td>
                            <td><a href="#" id="event" data-type="combodate" data-template="D MMM YYYY  HH:mm"
                                   data-format="YYYY-MM-DD HH:mm" data-viewformat="MMM D, YYYY, HH:mm" data-pk="1"
                                   data-title="Setup event date and time"
                                   class="editable editable-click editable-empty">Empty</a></td>
                        </tr>
                        <tr>
                            <td>Textarea, buttons below. Submit by <i>ctrl+enter</i></td>
                            <td><a href="#" id="comments" data-type="textarea" data-pk="1"
                                   data-placeholder="Your comments here..." data-title="Enter comments"
                                   class="editable editable-pre-wrapped editable-click">awesome user!</a></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- end row -->
    <input id="info_url" value="{{ info_url }}" class="display_none">
    <input id="online_url" value="{{ online_url }}" class="display_none">
{% endblock %}

