{% extends "base_a.html" %}

{% block title %}试题搜索{% endblock %}

{% block js_content %}
    {{ 't_js/exam/add.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
                 <!--Start row-->
                 <div class="row">
                     <div class="col-md-12">
                         <div class="white-box">

                            <div class="search-box-top">
                              <form>
                                <div class="input-group">
                                  <input name="search" class="form-control input-search" placeholder="Search..." type="text">
                                  <span class="input-group-btn">
                                  <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                                  </span> </div>
                              </form>
                            </div>

                            <div class="search-item">
                               <h3><a href="#">Consectetur adipiscing elit</a></h3>
                              <a class="search-link"   href="javascript:void(0);">www.loremipsum.com</a>
                              <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            </div><!-- /.search item-->


                            <div class="search-item">
                               <h3><a href="#">Consectetur adipiscing elit</a></h3>
                              <a class="search-link"   href="javascript:void(0);">www.loremipsum.com</a>
                              <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            </div><!-- /.search item-->



                            <div class="search-item">
                               <h3><a href="#">Consectetur adipiscing elit</a></h3>
                              <a class="search-link"   href="javascript:void(0);">www.loremipsum.com</a>
                              <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            </div><!-- /.search item-->

                            <div class="search-item">
                               <h3><a href="#">Consectetur adipiscing elit</a></h3>
                              <a class="search-link"   href="javascript:void(0);">www.loremipsum.com</a>
                              <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            </div><!-- /.search item-->



                            <div class="search-item">
                               <h3><a href="#">Consectetur adipiscing elit</a></h3>
                              <a class="search-link"   href="javascript:void(0);">www.loremipsum.com</a>
                              <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            </div><!-- /.search item-->

                            <div class="search-item">
                              <h3><a href="#">Consectetur adipiscing elit</a></h3>
                              <a class="search-link"   href="javascript:void(0);">www.loremipsum.com</a>
                              <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            </div><!-- /.search item-->



                             <ul class="pagination m-t-30">
                                <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                <li><a href="#">1</a></li>
                                <li class="active"><a href="#">2</a></li>
                                <li ><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                            </ul>

                         </div>
                     </div>
                 </div>
                 <!--End row-->
{% endblock %}



