{% extends "base_a.html" %}

{% block title %}试题搜索{% endblock %}

{% block js_content %}
{{ 't_js/exam/query.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
<!--Start row-->
<div class="row">
    <div class="col-md-12" id="div_content">
        <div class="white-box">

            <div class="search-box-top">
                <form>
                    <div class="input-group">
                        <input v-model="query_str" class="form-control input-search" placeholder="Search..."
                               type="text">
                        <span class="input-group-btn">
                        <select class="form-control input-sm" style="width:auto;"  v-model="current_exam_index">
                               <option v-for="(item,index) in all_exams" :value="index">{{item["exam_name"]}}</option>
                           </select>
                        </span>
                          <span class="input-group-btn">
                              <button @click="query" class="btn btn-primary" type="button">
                                  <i class="fa fa-search"></i>
                              </button>
                          </span>
                    </div>
                </form>
            </div>

            <div class="search-item" v-for="(item,index) in questions_items">
                <h3><a href="#">题库：{{item["exam_no"]}}，编号：{{item["question_no"]}}</a></h3>
                <a class="search-link" href="javascript:void(0);">
                    <template v-if='item["question_source"]'>{{item["question_source"]}}</template>
                    <template v-if='item["inside_mark"]'>{{item["inside_mark"]}}</template>
                </a>

                <p>{{item["question_desc"]}}</p>
            </div>
            <!-- /.search item-->
            <!--<ul class="pagination m-t-30">-->
            <!--<li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>-->
            <!--<li><a href="#">1</a></li>-->
            <!--<li class="active"><a href="#">2</a></li>-->
            <!--<li><a href="#">3</a></li>-->
            <!--<li><a href="#">4</a></li>-->
            <!--<li><a href="#">5</a></li>-->
            <!--<li><a href="#">6</a></li>-->
            <!--<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>-->
            <!--</ul>-->

        </div>
    </div>
</div>
<!--End row-->
{% endblock %}



