{% extends "base_a.html" %}

{% block title %}测试管理{% endblock %}

{% block js_content %}
{{ 't_js/exam/add.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
<div id="div_content">
    <div id="myTabContent" class="tab-content" style="padding-top: 20px;">
        <div class="form-group apiContentLine">
            <ul>
                <li>
                    <label>题库名称：</label>
                    <input class="box-side width500" v-model.trim="exam_name" type="text"/>
                </li>
                <li>
                    <label>题库介绍：</label>
                            <textarea class="box-side width500" v-model.trim="exam_desc" type="text">
                            </textarea>
                </li>
                <li>
                    <label>开放程度：</label>
                    <label class="radio-inline">
                        <input type="radio" name="openness_level" value="private" v-model='openness_level'>私有
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="openness_level" value="semi-public" v-model='openness_level'>半公开
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="openness_level" value="public" v-model='openness_level'>公开
                    </label>
                </li>
                <li v-if="openness_level=='semi-public'">
                    <label>公开模式：</label>
                    <label class="radio-inline">
                        <input type="radio" name="open_mode" value="1" v-model.number='open_mode'>仅题目
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="open_mode" value="3" v-model.number='open_mode'>仅题目答案
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="open_mode" value="7" v-model.number='open_mode'>所有
                    </label>
                </li>
                <li v-if="openness_level=='semi-public'">
                    <label>公开题号：</label>
                    <input type="text" class="box-side width100" v-model.number='open_no_start'>
                    <label>-</label>
                    <input type="text" class="box-side width100" v-model.number='open_no_end'>
                </li>

                <li>
                    <label>科目题型：</label>
                    <label class="checkbox-inline" v-for="mod_item in select_modes">
                        <input type="checkbox" v-model="mod_item.enable">{{mod_item.name}}
                    </label>
                </li>
                <li>
                    <label>支持搜索：</label>
                   <label class="radio-inline">
                        <input type="radio" name="allow_search" value="1" v-model.number='allow_search'>支持
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="allow_search" value="0" v-model.number='allow_search'>不支持
                    </label>
                    <input type="text" class="box-side width300" placeholder="搜索提示" v-model.trim="search_tip">
                </li>
                <li>
                    <button class="btn btn-success" @click="add_subject">增加科目</button>
                </li>
                <div class="panel panel-default" v-for="(sub_item, index) in subjects">
                    <div class="panel-heading">
                        <li>
                            <label>科目名称：</label>
                            <input type="text" class="box-side width100" v-model.trim="sub_item.name">
                            <label class="checkbox-inline" >
                                <input type="checkbox" v-model="sub_item.enable">启用
                            </label>
                        </li>
                    </div>

                    <!--<li>-->
                        <!--<label>科目题型：</label>-->
                        <!--<label class="checkbox-inline" >-->
                            <!--<input type="checkbox" v-model="sub_item.custom_sm">自定义-->
                        <!--</label>-->
                        <!--<template v-if="sub_item.custom_sm">-->
                        <!--<label class="checkbox-inline" v-for="mod_item in sub_item.select_modes">-->
                            <!--<input type="checkbox" v-model="mod_item.enable">{{mod_item.name}}-->
                        <!--</label>-->
                        <!--</template>-->
                    <!--</li>-->
                    <li>
                        <label>科目章节：</label>
                        <label class="checkbox-inline" v-for="ch_item in sub_item.chapters">
                            <input type="checkbox" v-model="ch_item.enable">{{ch_item.name}}
                        </label>
                        <input type="text" class="box-side width100" v-model.trim="new_chapter">
                        <button class="btn btn-success btn-sm" @click="add_chapter(index)">增加章节</button>
                    </li>
                </div>
            </ul>
        </div>
        <button v-if="exam_no" class="btn btn-success btn-down api-newBtn" @click="update">更新</button>
        <button v-else class="btn btn-success btn-down api-newBtn" @click="add">新建</button>
    </div>
</div>
{% endblock %}