{% extends "base_a.html" %}

{% block title %}视频管理{% endblock %}

{% block css_content %}
    {{ 't_css/tabControls.css' | make_static_html | safe }}
{% endblock %}

{% block js_content %}
    {{ 'plugins/bootstrap-editable/js/bootstrap-editable.min.js' | make_static_html | safe }}
    {{ 't_js/exam/video_overview.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
    <div id="div_content">
        <div class="tab-content" style="padding-top: 20px;">
            <div class="tab-pane fade in active" id="div_overview">
                <div>
                    <div style="position: relative">
                        <table class="table table-bordered table-hover api-list-table margintop20" id="t_exams">
                            <tr>
                                <th scope="col" width="5%">序号</th>
                                <th scope="col" width="23%">视频标题</th>
                                <th scope="col" width=12%">创建时间</th>
                                <th scope="col" width=8%">状态</th>
                                <th scope="col" width=30%">操作</th>
                            </tr>
                            <tr id="tr_none" class="display_none">
                                <td colSpan="9" class="text-center">一条视频都没有</td>
                            </tr>
                            <tr v-for="(item, index) in all_videos">
                                <td class="center center-align">{{index+1}}</td>
                                <td><a href="#" name="video_title" data-type="text" data-pk="1" class="editable editable-click" data-original-title="">{{item.video_title}}</a></td>
                                <td>{{item.add_time}}</td>
                                <td>{{video_states[item.video_state].name}}</td>
                                <td>
                                    <a class="status_move margin5" @click="to_update(item.video_uuid)">更新信息</a>
                                    <template v-if="item.maps >= -1">
                                        <label class="margin5">|</label>
                                        <a class="status_move margin5" @click="to_map(item.video_uuid)">{{item.maps}}关联</a>
                                    </template>
                                    <!--<template v-if="item.video_state == 0">-->
                                        <!--<label>|</label>-->
                                        <!--<a href='javascript:void(0)' @click="online(index)">停用</a>-->
                                    <!--</template>-->
                                    <!--<template v-if="item.video_state == 1">-->
                                        <!--<label>|</label>-->
                                        <!--<a href='javascript:void(0)' @click="offline(index)">启用</a>-->
                                        <!--<label>|</label>-->
                                        <!--<a href='javascript:void(0)' @click="offline(index)">删除</a>-->
                                    <!--</template>-->
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

