{% extends "base_a.html" %}

{% block title %}视频管理{% endblock %}

{% block css_content %}
    {{ 't_css/tabControls.css' | make_static_html | safe }}
{% endblock %}

{% block js_content %}
    {{ 'plugins/bootstrap-editable/js/bootstrap-editable.min.js' | make_static_html | safe }}
    {{ 't_js/exam/video_overview.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
    <div id="div_content">
        <div class="tab-content" style="padding-top: 20px;">
            <div class="tab-pane fade in active" id="div_overview">
                <div>
                    <div style="position: relative">
                        <table class="table table-bordered table-hover api-list-table margintop20" id="t_exams">
                            <tr>
                                <th scope="col" width="20%">名称</th>
                                <th scope="col" width=15%">创建时间</th>
                                <th scope="col" width=10%">状态</th>
                                <th scope="col" width=30%">操作</th>
                            </tr>
                            <tr id="tr_none" class="display_none">
                                <td colSpan="9" class="text-center">一条记录都没有</td>
                            </tr>
                            <tr v-for="(item, index) in all_exams">
{#                                <td>{{cn_exam_type[item["exam_type"]]}}</td>#}
                                <td><a href="#" name="exam_name" data-type="text" data-pk="1" data-title="Enter username" class="editable editable-click" data-original-title="">{{item.exam_name}}</a></td>
                                <td>{{item.add_time}}</td>
                                <td>{{item.cn_status}}</td>
                                <td>
                                    <a href='javascript:void(0)' @click="delete_exam(index)">删除</a>
                                    <template>
                                        <label>|</label>
                                        <a href='javascript:void(0)' @click="to_action(index, 'question')">管理试题</a>
                                        <label>|</label>
                                        <a href='javascript:void(0)' @click="to_action(index, 'exam')">更新信息</a>
                                    </template>
                                    <template v-if="(item.status & 3) == 3 && (item.status & 64) == 0">
                                        <label>|</label>
                                        <a href='javascript:void(0)' @click="online(index)">上线</a>
                                    </template>
                                    <template v-if="(item.status & 64) == 64">
                                        <label>|</label>
                                        <a href='javascript:void(0)' @click="offline(index)">下线</a>
                                    </template>
                                    <template v-if="item.show_btn_sync">
                                        <label>|</label>
                                        <a href='javascript:void(0)' @click="sync_search_data(index)">同步数据</a>
                                    </template>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

