{% extends "base_menu.html" %}


{% block title %}查看{{ type_desc }}文章{% endblock %}

{% block css_content %}
    {{ 't_css/tabControls.css' | make_static_html | safe }}
{% endblock %}

{% block js_content %}
    {{ 't_js/article/look.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
    <div id="div_content">
        <ul id="ul_menu" class="nav nav-tabs comTab">
            <li class=""><a href="{{ page_list }}" data-toggle="tab">所有{{ type_desc }}文章</a></li>
            <li class=""><a href="{{ page_article }}" data-toggle="tab">录入{{ type_desc }}文章</a></li>
            <li class="active"><a href="javascript:void(0)" data-toggle="tab">{{ type_desc }}文章查看</a></li>
        </ul>
        <!-- 加载编辑器的容器 -->

        <div style="padding-top: 50px">
            <div class="form-group apiContentLine">
                <ul>
                    <li>
                        <label id="article_title"/>
                    </li>
                </ul>
            </div>
            <div id="container">
            </div>
        </div>
        <input id="article_no" class="display_none" value="{{ article_no }}">
            <input id="url_info" class="display_none" value="{{ url_info }}">
        <div id="div_edit">

        </div>
    </div>
{% endblock %}