{% extends "base_menu.html" %}

{% block title %}{{ type_desc }}文章管理{% endblock %}

{% block css_content %}
    {{ 't_css/tabControls.css' | make_static_html | safe }}
{% endblock %}

{% block js_content %}
    {{ 't_js/article/query.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
    <div id="div_content">
        <ul id="ul_menu" class="nav nav-tabs comTab">
            <li class="active"><a href="javascript:void(0)" data-toggle="tab">所有{{ type_desc }}文章</a></li>
            <li class=""><a href="{{ page_article }}" data-toggle="tab">录入{{ type_desc }}文章</a></li>
        </ul>
    <!-- 加载编辑器的容器 -->
    <div class="paddingTop50" id="article_container">
        <div class="form-group apiContentLine">
            <div style="position: relative">
                        <table class="table table-bordered table-hover api-list-table margintop20" id="t_article">
                            <tr>
                                <th scope="col" width="10%">文章分类</th>
                                <th scope="col" width="40%">标题</th>
                                <th scope="col" width=10%">作者</th>
                                <th scope="col" width=10%">状态</th>
                                <th scope="col" width=20%">操作</th>
                            </tr>
                            <tr id="tr_none" class="display_none">
                                <td colSpan="5" class="text-center">暂无文章显示<a href="{{ page_article }}">添加文章</a></td>
                            </tr>
                        </table>
                    </div>
{#            <ul>#}
{#                <li>#}
{#                    <input class="box-side width800" id="query_str" type="text"/>#}
{#                    <a class="btn btn-primary" href="javascript:void(0)" title="" id="btn_query">查询</a>#}
{#                    <a class="btn btn-primary" href="javascript:void(0)" title="" id="btn_add_article">新建</a>#}
{#                </li>#}
{#            </ul>#}
        </div>
    <input class="display_none" value="{{ info_url }}"  id="query_url"/>
    <input class="display_none" value="{{ info_url }}"  id="info_url"/>
    <input class="display_none" value="{{ page_article }}", id="page_article">
    <input class="display_none" value="{{ online_url }}", id="online_url">
    </div>
    </div>
{% endblock %}