{% extends "base_menu.html" %}

{% block title %}视频管理{% endblock %}

{% block css_content %}
    {{ 't_css/tabControls.css' | make_static_html | safe }}
{% endblock %}

{% block js_content %}
    {{ 't_js/video/add.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
    <div id="div_content">
        <ul id="ul_menu" class="nav nav-tabs comTab">
            <li class=""><a href="{{ page_list }}" data-toggle="tab">所有视频</a></li>
            <li class="" id="li_add"><a href="{{ page_video }}" data-toggle="tab">添加视频</a></li>
            <li class="active" id="li_update"><a href="javascript:void(0)" data-toggle="tab">添加视频</a></li>
        </ul>
        <div id="myTabContent" class="tab-content" style="padding-top: 20px;">
            <fieldset>
                <legend>视频信息</legend>
                <div class="form-group apiContentLine">
                    <ul>
                        <li>
                            <label for="">视频分类：</label>
                            <select class="box-side width150" id="video_type" type="text">
                                <option value="dongman" >动漫</option>
                                <option value="yingshi">影视</option>
                            </select>
                        </li>
                        <li>
                            <label for="">视频名称：</label>
                            <input class="display_none" id="video_no" type="text"/>
                            <input class="box-side width500" id="video_name" type="text" placeholder="" msg="请输入视频名称"/>
                        </li>
                        <li>
                            <label for="">视频介绍：</label>
                            <input class="box-side width500" id="video_desc" type="text" msg="请输入视频介绍"/>
                        </li>
                        <li>
                            <label for="">视频图片：</label>
                            <input class="box-side width300" id="video_extend_pic" type="file" placeholder="上传图片" accept="image/*"/>
                            <img id="video_pic" src=""/>
                        </li>
                        <li>
                            <label for="">总集数：</label>
                            <input class="box-side width100" id="episode_num" type="text" msg="请输入总集数"/>
                            <span class="display_none" id="div_upload_status">
                                <label>已上传</label>
                                <label id="lab_upload_num"></label>
                                <label>集</label>
                            </span>

                        </li>
                    </ul>

                </div>
            </fieldset>
            <button class="btn btn-success btn-down api-newBtn" id="btn_new">新建</button>
        </div>
        <input id="info_url" value="{{ info_url }}" class="display_none">
        <input id="upload_url" value="{{ upload_url }}" class="display_none">
    </div>
{% endblock %}