{% extends "base_menu.html" %}

{% block title %}{{ type_desc }}管理{% endblock %}

{% block css_content %}
    {{ 't_css/tabControls.css' | make_static_html | safe }}
{% endblock %}

{% block js_content %}
    {{ 't_js/video/add.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
    <div id="div_content">
        <ul id="ul_menu" class="nav nav-tabs comTab">
            <li class=""><a href="{{ page_list }}" data-toggle="tab">所有{{ type_desc }}</a></li>
            <li class="" id="li_add"><a href="{{ page_video }}" data-toggle="tab">添加{{ type_desc }}</a></li>
            <li class="active" id="li_update"><a href="javascript:void(0)" data-toggle="tab">添加{{ type_desc }}</a></li>
        </ul>
        <div id="myTabContent" class="tab-content" style="padding-top: 20px;">
            <fieldset>
                <legend>{{ type_desc }}信息</legend>
                <div class="form-group apiContentLine">
                    <ul>
                        <li>
                            <label for="">{{ type_desc }}分类：</label>
                            <select class="box-side width150" id="video_type" type="text">
                                {% for k, v in type_dict.items() %}}
                                <option value="{{ k }}" >{{ v }}</option>
                                {% endfor %}
                            </select>
                        </li>
                    <li>
                            <label for="">{{ type_desc }}集：</label>
                            <select class="box-side width150" id="accept_formats" type="text" :disabled="media_item.accept_formats">
                                {% for item in format_dict %}}
                                <option value="{{ item[1] }}" >{{ item[0] }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li>
                            <label for="">{{ type_desc }}名称：</label>
                            <input class="display_none" id="video_no" type="text"/>
                            <input class="box-side width500" id="video_name" type="text" placeholder="" msg="请输入{{ type_desc }}名称"/>
                        </li>
                        <li>
                            <label for="">关联人员：</label>
                            <select class="box-side width150" id="link_people" v-model="media_item.link_people" :disabled="!media_item.action_new">
                                <option value="0">---- 不选 ----</option>
                                <option v-for="item in people" :value="item.people_no">{{item.people_name}}</option>
                                <option value="-1">--- 去新建 ---</option>
                            </select>
                        </li>
                        <li>
                            <label for="">{{ type_desc }}介绍：</label>
                            <input class="box-side width500" id="video_desc" type="text" msg="请输入{{ type_desc }}介绍"/>
                        </li>
                        <li>
                            <label for="">{{ type_desc }}图片：</label>
                            <input class="box-side width300" id="video_extend_pic" @change="start_upload" type="file" placeholder="上传图片" accept="image/*"/>
                            <img id="video_pic" src=""/>
                        </li>
                        <li>
                            <label for="">总集数：</label>
                            <input class="box-side width100" v-model.number="media_item.episode_num" type="number" msg="请输入总集数"/>
                            <span class="display_none" id="div_upload_status">
                                <label>已上传</label>
                                <label id="lab_upload_num"></label>
                                <label>集</label>
                            </span>

                        </li>
                    </ul>

                </div>
            </fieldset>
            <button class="btn btn-success btn-down api-newBtn" id="btn_new" @click="new_media">新建</button>
        </div>
        <input id="info_url" value="{{ info_url }}" class="display_none">
        <input id="upload_url" value="{{ upload_url }}" class="display_none">
        <input id="url_people" value="{{ url_people }}" class="display_none">
        <input id="url_people_resource" value="{{ url_people_resource }}" class="display_none">
    </div>
{% endblock %}