{% extends "base_menu.html" %}

{% block title %}视频管理{% endblock %}

{% block css_content %}
    {{ 't_css/tabControls.css' | make_static_html | safe }}
{% endblock %}

{% block js_content %}
    {{ 't_js/video/episode.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
    <div id="div_content">
        <ul id="ul_menu" class="nav nav-tabs comTab">
            <li class=""><a href="{{ page_list }}" data-toggle="tab">所有视频</a></li>
            <li class=""><a href="{{ page_video }}" data-toggle="tab">添加视频</a></li>
            <li class="active"><a href="javascript:void(0)" data-toggle="tab">上传分集</a></li>
        </ul>
        <div id="myTabContent" class="tab-content" style="padding-top: 20px;">
            <fieldset>
                <legend>题目信息</legend>
                <div class="form-group apiContentLine">
                    <ul>
                        <li>
                            <label for="">视频分类：</label>
                            <select class="box-side width150" id="s_video_type" type="text" disabled>
                                <option value="dongman" >动漫</option>
                                <option value="yingshi">影视</option>
                            </select>
                        </li>
                        <li>
                            <label for="effective_days">视频名称：</label>
                            <input class="box-side width300" id="s_video_name" type="text" readonly/>
                            <label>当前</label>
                            <input id="questions_num" class="width100" readonly disabled about="">
                            <label>集</label>
                        </li>
                    </ul>

                </div>
            </fieldset>
            <fieldset>
                <legend>分集信息</legend>
                <div class="form-group apiContentLine" id="options">
                    <ul>
                        <li>
                            <label for="">分集介绍：</label>
                            <input class="box-side width500" id="title" type="text" msg="请输入分集介绍"/>
                        </li>
                        <li>
                            <label for="">分集封面：</label>
                            <input class="box-side width300" id="video_extend_pic" type="file" placeholder="上传图片" accept="image/*"/>
                            <img id="video_pic" src=""/>
                        </li>
                        <li>
                            <label for="">音乐上传：</label>
                            <input class="box-side width300" id="upload_episode" type="file" placeholder="上传分集" accept="audio/mpeg"/>
                            <button class="btn btn-success" id="btn_upload">上传</button>
                            <input class="display_none" id="episode_url">
                        </li>
                    </ul>
                </div>
            </fieldset>
            <a class="status_move display_none" id="link_pre">上一集</a>
            <button class="btn btn-success btn-down display_none" id="btn_update">更新</button>
            <button class="btn btn-success btn-down " id="btn_new_question" disabled>新建</button>
            <a class="status_move display_none" id="link_next">下一集</a>
            <input id="info_url" value="{{ info_url }}" class="display_none">
            <input id="questions_url" value="{{ questions_url }}" class="display_none">
        </div>
    </div>
{% endblock %}