{% extends "base_menu.html" %}

{% block title %}视频管理{% endblock %}

{% block css_content %}
    {{ 't_css/tabControls.css' | make_static_html | safe }}
{% endblock %}

{% block js_content %}
    {{ 't_js/video/overview.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
    <div id="div_content">
        <ul id="ul_menu" class="nav nav-tabs comTab">
            <li class="active"><a href="#div_overview" >所有视频</a></li>
            <li class=""><a href="{{ page_video }}">添加视频</a></li>
        </ul>
        <div class="tab-content" style="padding-top: 20px;">
            <div class="tab-pane fade in active" id="div_overview">
                <div>
                    <div style="position: relative">
                        <table class="table table-bordered table-hover api-list-table margintop20" id="t_videos">
                            <tr>
                                <th scope="col" width="8%">分类</th>
                                <th scope="col" width="40%">名称</th>
                                <th scope="col" width=15%">创建时间</th>
                                <th scope="col" width=10%">上传进度</th>
                                <th scope="col" width=7%">状态</th>
                                <th scope="col" width=20%">操作</th>
                            </tr>
                            <tr id="tr_none" class="display_none">
                                <td colSpan="9" class="text-center">一条记录都没有</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <input id="info_url" value="{{ info_url }}" class="display_none">
    <input id="online_url" value="{{ online_url }}" class="display_none">
{% endblock %}

