{% extends "base_menu.html" %}

{% block title %}测试管理{% endblock %}

{% block css_content %}
    {{ 't_css/tabControls.css' | make_static_html | safe }}
{% endblock %}

{% block js_content %}
    {{ 't_js/bootstrap.min.js' | make_static_html2 | safe }}
{#    {{ 't_js/Common/add_node.js' | make_static_html | safe }}#}
{#    {{ 't_js/Common/datetime_tools.js' | make_static_html | safe }}#}
{#    {{ 't_js/Common/url_tool.js' | make_static_html | safe }}#}
{#    {{ 't_js/Performance/index.js' | make_static_html | safe }}#}
    {{ 't_js/exam/add.js' | make_static_html | safe }}
    {{ 't_js/exam/question.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
    <div id="div_content">
        <ul id="ul_menu" class="nav nav-tabs comTab">
            <li class="{{ overview_class }}"><a href="#div_overview" data-toggle="tab">所有测试</a></li>
            <li class=""><a href="#div_exam" data-toggle="tab">录入测试</a></li>
            <li class="{{ question_class }}"><a href="#div_question" data-toggle="tab">录入试题</a></li>
        </ul>
        <div id="myTabContent" class="tab-content" style="padding-top: 20px;">
            <div class="tab-pane fade in {{ overview_class }}" id="div_overview">
                {% include "exam/overview.html" %}
            </div>
            <div class="tab-pane fade in" id="div_exam">
                {% include "exam/entry_info.html" %}
            </div>
            <div class="tab-pane fade in {{ question_class }}" id="div_question">
                {% include "exam/entry_questions.html" %}
            </div>
        </div>
    </div>
    <div class="lift-nav">
        <ul class="lift" id="ul_menu_months">
        </ul>
    </div>
    <input id="add_url" value="{{ add_url }}" class="display_none">
    <input id="query_url" value="{{ query_url }}" class="display_none">
    <input id="list_user_url" value="{{ list_user_url }}" class="display_none">
{% endblock %}